
				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<section class="post">
								<header class="major">
									<h1>A little about <br />
										me</h1>
										<div class="image-cropper "><img src="https://drive.google.com/uc?export=view&id=11zD7y-CFcIILOoJfWk5rfyG07yuy9qqW"   class="profile-pic" alt="" /></div>
									<p>I am a mechatronic design engineer at ASML. I currently work on the controls and functional design for the DUV reticle stage. I have experience in object oriented programming with a focus on C,C++,python, and matlab. Through my current job and prior experience I am familiar with controls, path planning, Ros, gazebo, mechanical design, electrical design, Simulink, and microcontrollers. A collection of my projects can be found in the portfolio section. I also like making art. See the art tab if you're interested in some mediocre art. One day, I'll have made art that is slightly above average, just you wait!</p>
								</header>
								<!-- 
									edit this when you have more to say about yourself
									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur sapien risus, commodo eget turpis at, elementum convallis enim turpis, lorem ipsum dolor sit amet nullam.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. 
									Class aptent taciti sociosqu ad litora torquent per conubia nostra,
									 per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus. Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis.
									  Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum.</p>-->
							</section> 

					</div>

			

		

