<!-- Main -->
<div id="main">

    <!-- Featured Post -->
        <article class="post featured">
            <header class="major">
                <span class="date">Jan 18, 2022</span>
                <h2><a href="https://www.asml.com/en">I started as a <br />
                Mechatronics engineer at ASML </a></h2>
                <p>I am a mechatronic design engineer at ASML. I currently work on the controls and functional design for the DUV reticle stage.</p>
            </header>
            <a href="#" class="image main"><img src="https://drive.google.com/uc?export=view&id=1ghrXttEOR07Fcpse76TxblBwl9bYyONd" alt="" /></a>
            <ul class="actions special">
                    <li><a href="https://www.asml.com/en" class="button">Full Story</a></li>
            </ul>
        </article>

    <!-- Posts -->
        <section class="posts">
            <article>
                <header>
                    <span class="date">Dec 2021</span>
                    <h2><a href="https://www.grasp.upenn.edu/">Masters graduation<br />
                    Masters in Mechanical engineering </a></h2>
                </header>
                <a href="" class="image fit"><img src="https://drive.google.com/uc?export=view&id=1xr5fGP2Oc6_ZJUezO32Vo_vtEGLRSmje" alt="" /></a>
                <p> I finished my masters degree at the University of Pennsylvania. My studies were focused around mechatronics, robotics, and controls, and I did research in the Grasp,General Robotics Automation Sensing and perception, Lab . I completed my independent study in the Grasp lab under Cynthia Sung. My work was focused around adding directionality to a jumping origami robot. </p>
                <ul class="actions special">
                    <li><a href="https://www.grasp.upenn.edu/" class="button">Full Story</a></li>
                </ul>
            </article>
            <article>
                <header>
                    <span class="date">Dec 2020</span>
                    <h2><a href="https://www.haverford.edu/engineering/41-program-university-pennsylvania">Undergrad graduation<br />
                    bachelors in physics</a></h2>
                </header>
                <a href="" class="image fit"><img src="https://drive.google.com/uc?export=view&id=1ak-MGRHSa8laFDles_QEpnVrqQQDJDjU" alt="" /></a>
                <p>I finished my bachelors degree in physics at Haverford college. My studies were focused in computational physics, mechanics,fluid mechanics, mechanical design,electrical design, and experimentation. I worked extensively in the squishlab where I did research in the way non-newtonian characteristics in a fluid affected the lubrication force within said fluid. This work involve extensive use of computational physics tools, mechanical design, computer vision, fluid mechanics, rheology, and expirement design.</p>
                <ul class="actions special">
                    <li><a href="https://squishlab.org/" class="button">Full Story</a></li>
                </ul>
            </article>
        </section>


</div>