

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<h1>
									<span class="date">Art</span>
									<h2><a href="#">&#128516 This is some art I've made &#128516 </a></h2>
									</h1>
									<div class="image slidecontainer" ><iframe src="https://docs.google.com/presentation/d/e/2PACX-1vR5lPyKsqIeS2JDK9jIyOGt3PqiwCejYT1sRhLTfIxcxet_CA0WsYFdQ6304ntNOQMmWaoZR2OK3ua6/embed?start=false&loop=false&delayms=3000"
										class="slides"></iframe></div>
								<p class="align-center">
									Please note that due to having a full time job I can't dedicate all my hours to making better art. As a result, the art you see here isn't neccesarily the best art I can produce.
								</p>
							</article>
							
					