

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<h1>
									<span class="date">Portfolio</span>
									<h2><a href="#"> &#129299  Some of the work I've done &#129299</a></h2>
									</h1>
									<div class="image slidecontainer" ><iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTCt6wJtKJVY4S1bOePJOv-Vp21IwrMV1pidMzAI5gp9xzo_DPogpjY9jiCycwCwubIjOz8yqsnK-KX/embed?start=false&loop=true&delayms=30000"
										class="slides"></iframe></div>
								<p class="align-center">
									Please note that due to the NDAs of places I've worked at, I can't post the details of some of the projects I've worked on publicly. As a result, this is an incomplete list of my work
								</p>
							</article>
							
					